#root {
  /* max-width: 1280px;
  margin: auto;
  padding: 2rem;
  text-align: center;
  height: 100vh; */
}

.container{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;


}